.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  display: inline-block;
  width: 70%;
  height: 100vh;
  vertical-align: top;
}

html, body {
  height: 100%;
  margin:0;
  padding:0;
}

.list-locations {
  display: inline-block;
  width: 30%;
  height: 100vh;
  vertical-align: top;
  text-align:left;
  background-color: #ADB3B8;
}

.search-locations {
  width: 60%;
  margin-left: 10%;
}

.search-filter {
  width: 40px;
}
.location-list-item {
  list-style-type: none;
}

#SU {
  font-family:sans-serif;
  margin-left: 10%;
  color: #D44500;
  font-size: 20px;
}
